1. Indexing Strings:
Given the string s = "PYTHON", retrieve and print the following:

a) The first character
b) The last character
c) The string "H"
d) The type of "H"

In [4]:
s = 'PYTHON'
print(s[0])
print(s[-1])
print(s[3])
print(type(s[3]))

P
N
H
<class 'str'>

2. Indexing Tuples:
Given the tuple t = (10, 20, 30, 40, 50, 60), retrieve and print the following:

a) The first element
b) The third element 
c) (Try to) Set the 3rd element to 30.4

In [5]:
t = (10, 20, 30, 40, 50, 60)
print(t[0])
print(t[2])
t[2] = 30.4

10
30

TypeError: 'tuple' object does not support item assignment

3. Indexing Lists and Lists of Lists:
Given the list lst = [5, 15, 25, [35, 45, [55, 65, 75], 85], 95], retrieve and print the following:

a) The first element
b) The last element
c) The sublist [55, 65, 75] 
d) The number 65

In [10]:
lst = [5, 15, 25, [35, 45, [55, 65, 75], 85], 95]
print(lst[0])
print(lst[-1])
print(lst[3][2])
print(lst[3][2][1])

5
95
[55, 65, 75]
65

4. Lists of Lists as Arrays:
Consider a 3x3 matrix represented as a list of lists:

In [13]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
#matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

a) Retrieve the second row.
b) Retrieve the third column.
c) Change the center element to 0 and print the modified matrix.

In [17]:
print(matrix[1])
print(matrix[0][2], matrix[1][2], matrix[2][2])

matrix[0][1] = 0
matrix[1][1] = 0
matrix[2][1] = 0
print(matrix)

[4, 5, 6]
3 6 9
[[1, 0, 3], [4, 0, 6], [7, 0, 9]]

5. Using Sets:
Given two lists A = [1, 2, 2, 3, 4, 4, 5] and B = [4, 5, 5, 6, 7, 7,  8]:

a) Create sets from both lists.
b) Find the union of the two sets.
c) Find the intersection of the two sets.
d) Find the elements that are in A but not in B. 
e) Find the elements that are in A or B but not both.

In [25]:
A = [1, 2, 2, 3, 4, 4, 5]
B = [4, 5, 5, 6, 7, 7,  8]
set_A = set(A)
#set_A
set_B = set(B)

#union of sets
print(set_A | set_B)

#intersection
print(set_A & set_B)

#A but not in B
print(set_A - set_B)

#B but not is A
print(set_B - set_A)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}

6. Working with Dictionaries:
Consider the following dictionary that represents the stock of items in a store:

In [35]:
stock = {
    "apple": 50,
    "banana": 25,
    "orange": 30,
    "grape": 45
}

a) Retrieve the stock of apple.
b) Add a new fruit, pear, with a stock of 40.
c) Update the stock of banana to 30.
d) Remove orange from the stock.

In [36]:
print(stock['apple'])
stock['pear'] = 40
#stock
stock['banana'] = 30
del stock['orange']
print(stock)

50
{'apple': 50, 'banana': 30, 'grape': 45, 'pear': 40}