In [ ]:
Part A: Slicing

In [ ]:
Strings:

Given the string s = "ProgrammingIsFun", 
Extract and print the substring "Program".
Extract and print the substring "Fun".
Extract and print every 3rd character of the string.

In [17]:
s = "ProgrammingIsFun"

print(s[0:7])

#print(s)
print(s[13:16])    
#s[-1]

print(s[::3])

Program
Fun
Pgmnsn

Lists:

Given the list lst = [10, 20, 30, 40, 50, 60, 70, 80]:
Extract and print the first 3 elements.
Extract and print the last 2 elements.
Extract and print the elements from index 3 to 6 (inclusive).
Extract and print every 2nd element from the list.
Extract and print every 2nd element starting from the end of the list.

In [5]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]

#print(lst)
print(lst[0:3])
print(lst[6:8])
print(lst[3:7])
print(lst[1::2])
'''revlst = lst.copy()
revlst.reverse()
#print(revlst)
print(revlst[::2])'''

print(lst[::-2])

[10, 20, 30]
[70, 80]
[40, 50, 60, 70]
[20, 40, 60, 80]
[80, 60, 40, 20]

Tuples:

Given the tuple tup = (5, 10, 15, 20, 25, 30, 35, 40):
Extract and print the second element.
Extract and print the last 3 elements.
Extract and print the elements from index 2 to 5 (exclusive).

In [49]:
tup = (5, 10, 15, 20, 25, 30, 35, 40)

print(tup[1])
print(tup[5:len(tup)])
print(tup[2:6])

10
(30, 35, 40)
(15, 20, 25, 30)

In [ ]:
Part B: Methods of Data Structures

In [ ]:
Strings:

Find and print the index of the first occurrence of the substring "ming" in s.
Convert the string s to lowercase and print the result.
Replace the substring "Fun" in s with "Amazing" and print the result.

In [54]:
s = "ProgrammingIsFun"

print(s.index('ming'))
print(s.lower())
print(s.replace('Fun', 'Amazing'))

7
programmingisfun
ProgrammingIsAmazing

In [ ]:
Lists:

Add the elements 90 and 100 to the end of lst and print the updated list.
Remove the second element from lst and print the updated list.
Reverse the order of elements in lst and print the updated list.
Find and print the index of element 50 in lst.

In [75]:
lst = [10, 20, 30, 40, 50, 60, 70, 80]
lst.extend([90, 100])
print(lst)

lst.remove(lst[1])
print(lst)

lst.reverse()
print(lst)

lst.index(50)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 10]

5

In [ ]:
Tuples:

Count and print the number of occurrences of 20 in tup.
Convert tup into a list, add the number 45 at its end, then convert it back to a tuple. Print the new tuple.

In [4]:
tup = (5, 10, 15, 20, 25, 30, 35, 40)

#print(type(tup))
print(tup.count(20))

nlist = list(tup)
#type(nlist)
nlist.append(45)
tup = tuple(nlist)
#type(tup)
print(tup)

1
(5, 10, 15, 20, 25, 30, 35, 40, 45)

Dictionaries:

Given the dictionary S_Doo_ = {"Scooby": 4, "Shaggy": 19, "Velma": 18, "Daphne": 20}
Add a new key-value pair: "Phred": 21 and print the updated dictionary.
Retrieve and print the age of "Velma".
Remove "Scooby" and his age from the dictionary and print the updated dictionary.
Print all the keys in the dictionary.
Print all the values in the dictionary.

In [98]:
S_Doo_ = {"Scooby": 4, "Shaggy": 19, "Velma": 18, "Daphne": 20}

S_Doo_['Phred'] = 21
print(S_Doo_)

print(S_Doo_['Velma'])

del S_Doo_['Scooby']
print(S_Doo_)

print(S_Doo_.keys())

print(S_Doo_.values())

{'Scooby': 4, 'Shaggy': 19, 'Velma': 18, 'Daphne': 20, 'Phred': 21}
18
{'Shaggy': 19, 'Velma': 18, 'Daphne': 20, 'Phred': 21}
dict_keys(['Shaggy', 'Velma', 'Daphne', 'Phred'])
dict_values([19, 18, 20, 21])

In [ ]:
Bonus:
Make and print a list of the keys in the Scooby dictionary using the output of .keys().

In [103]:
slst = list(S_Doo_.keys())
type(slst)
slst

['Shaggy', 'Velma', 'Daphne', 'Phred']