### Homework on Pandas Basics

---

#### Series Exercises:

1. **Create a Series:**
   - Create a Series named `fruits` with the data: 'apple', 'banana', 'cherry', 'date', and assign it an index of 'a', 'b', 'c', 'd' respectively.
   - Print the Series.
   - Print the `Index` of the series.

In [3]:
import pandas as pd

In [4]:
fruits = pd.Series(['apple', 'banana', 'cherry', 'date'], index = ('a', 'b', 'c', 'd'))
print(fruits)
print(fruits.index)

a     apple
b    banana
c    cherry
d      date
dtype: object
Index(['a', 'b', 'c', 'd'], dtype='object')

2. Accessing Elements:

Print the second ("b") element of the fruits Series.

In [5]:
fruits['b']

'banana'

3. Series Operations:

Create a Series with the squares of the numbers 1 through 5.
Add 10 to each item in the series (hint: there a method to this madness).

In [6]:
num = pd.Series([1**2, 2**2, 3**2, 4**2, 5**2])
num[0:5] = num[0:5] + 10
num

0    11
1    14
2    19
3    26
4    35
dtype: int64

#### DataFrame Exercises:

1. **Create a DataFrame:**
   - Create a DataFrame named `students` with the columns: 'Name', 'Age', 'Grade'.
   - Populate it with data for three fictional students.

In [7]:
df = [['Sally', 19, 98], ['Lily', 20, 87], ['Pam', 21, 94]]
col = ['Name', 'Age', 'Grade']

students = pd.DataFrame(df, columns = col)
students

    Name  Age  Grade
0  Sally   19     98
1   Lily   20     87
2    Pam   21     94

2. **Accessing Data:**
   - Print the `Name` column of the `students` DataFrame.

In [8]:
students['Name']

0    Sally
1     Lily
2      Pam
Name: Name, dtype: object

4. **DataFrame Operations:**
   
   - Add a new column to the `students` DataFrame named `Graduated`, which should be `True` if the student's grade is 'A' and `False` otherwise.
   - Print the updated DataFrame.

In [9]:
students['Graduated'] = students['Grade'] > 89.9
students

    Name  Age  Grade  Graduated
0  Sally   19     98       True
1   Lily   20     87      False
2    Pam   21     94       True

5. **Maths:**
   
   - Calculate and print the average age of the students.

In [10]:
students['Age'].mean()

20.0

6. **Sorting:**
   - Sort the `students` DataFrame based on the `Age` column in descending order and print it.

In [13]:
students.sort_values('Age', ascending = False)

    Name  Age  Grade  Graduated
2    Pam   21     94       True
1   Lily   20     87      False
0  Sally   19     98       True

7. **Tidy Data**.
   - Re-make the cognitive health data frame from class so it is "tidy", with each column as variable and each row an observation.
   - Compute the mean and standard deviation of all variables.
   - Compute the mean and standard error for the happiness variable (there might even be a method for computing standard error...).

In [59]:
cog_heal = [[10,2,5,3], [15,4,9,3],[18,7,12,9], [13,2,7,4]]
col = ['Happiness', 'Language','Energy', 'Memory']

cognitive_health = pd.DataFrame(cog_heal, columns = col)
print(cognitive_health)

print(cognitive_health[['Happiness', 'Language', 'Energy', 'Memory']].mean(), 
      cognitive_health[['Happiness', 'Language', 'Energy', 'Memory']].std(), 
      sep = '\n\n')

print(cognitive_health['Happiness'].mean(), cognitive_health['Happiness'].sem(), 
      sep = '\n\n')

Happiness    14.00
Language      3.75
Energy        8.25
Memory        4.75
dtype: float64

Happiness    3.366502
Language     2.362908
Energy       2.986079
Memory       2.872281
dtype: float64

14.0

1.6832508230603465